<!doctype html>
<html lang='{{ request.locale.iso_code }}'>
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'nav.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% section 'nav' %}

    {{ content_for_layout }}

    {% comment %} {% section 'footer-group' %} {% endcomment %}
  </body>
</html>
