<section class='footer'>
  <div class='padding-global'>
    <div class='container-large'>
      <div data-figma-id='8805:19224' class='footer_component'>
        <div data-figma-id='8805:19225' class='footer_outer-wrapper'>
          <div data-figma-id='8805:19236' class='footer_inner-wrapper'>
            <div data-figma-id='8805:19237' class='footer_content'>
              <div data-figma-id='8805:19238' class='footer_top-wrapper'>
                <div class='footer_description-wrapper'>
                  <div class='footer_description'>
                    <a
                      href='index.html'
                      aria-current='page'
                      class='navbar_logo-link w-nav-brand w--current'>
                      <img
                        width='132'
                        height='30'
                        alt=''
                        src="{{ 'statue-logo.svg' | asset_url }}"
                        loading='lazy'
                        class='navbar_logo is-footer-logo'>
                    </a>
                    <p data-figma-id='8819:33161' class='text-size-regular is-description'>
                      The 5-Week Challenge built to help you stay consistent, focused, and in control.
                    </p>
                  </div>
                  <div class='footer_divider'></div>
                  <div class='footer_support-links is-top'>
                    <p data-figma-id='8805:19256' class='text-size-regular is-footer-link'>
                      <span class='footer_contact-span'>Want to know more?</span>
                      Email us:
                      <br>
                      support@musashichallenge.com
                    </p>
                    <div data-figma-id='8805:19247' class='footer_copy-wrapper'>
                      <p data-figma-id='8805:19248' class='text-size-regular'>Copy address</p>
                      <div class='footer_icon-wrapper'>
                        <img
                          class='footer_clipboard-icon is-default'
                          src="{{ 'copy-icon.svg' | asset_url }}"
                          data-figma-image-id='67cba6d08ae8762187a60cdf'
                          alt='Copy email to clipboard'
                          data-figma-id='8805:19249'
                          data-figma-image-hash='c4c7e1c9c021019ab4e2566d4c511a6c'
                          loading='lazy'>
                        <img
                          class='footer_clipboard-icon is-copied hidden'
                          src="{{ 'success-copy-icon.svg' | asset_url }}"
                          data-figma-image-id='67cba6d08ae8762187a60cdf'
                          alt='Email copied to clipboard'
                          data-figma-id='8805:19249'
                          data-figma-image-hash='c4c7e1c9c021019ab4e2566d4c511a6c'
                          loading='lazy'>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-figma-id='8805:19242' class='footer_menu-wrapper'>
                  <div data-figma-id='8805:19253' class='footer_link-wrapper'>
                    <p data-figma-id='8805:19254' class='text-size-large is-footer-menu-title'>Support</p>
                    <div data-figma-id='8805:19255' class='footer_link-list'>
                      <div class='footer_support-group'>
                        <div class='footer_support-links is-top'>
                          <a
                            data-figma-id='8805:19256'
                            href='privacy-policy.html'
                            target='_blank'
                            class='text-size-regular is-footer-link'>
                            Track Your Order
                          </a>
                        </div>
                        <div class='footer_region-wrapper'>
                          <p data-figma-id='8805:19271' class='text-size-regular is-footer-region'>
                            Region Selection:
                          </p>
                          <div data-figma-id='8805:19247' class='placeholder'>
                            <p data-figma-id='8805:19248' class='text-size-regular'>Romania | $USD</p>
                            <div class='footer_icon-wrapper'>
                              <img
                                class='footer_clipboard-icon'
                                src="{{ 'chevron-down.svg' | asset_url }}"
                                data-figma-image-id='67cba6d08ae8762187a60cdf'
                                alt=''
                                data-figma-id='8805:19249'
                                data-figma-image-hash='c4c7e1c9c021019ab4e2566d4c511a6c'
                                loading='lazy'>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-figma-id='8805:19243' class='footer_link-wrapper'>
                    <p data-figma-id='8805:19244' class='text-size-large is-footer-menu-title'>Policies</p>
                    <div class='footer_support-links is-top'>
                      <a
                        data-figma-id='8805:19256'
                        href='privacy-policy.html'
                        target='_blank'
                        class='text-size-regular is-footer-link'>
                        Privacy Policy
                      </a>
                      <a
                        data-figma-id='8805:19256'
                        href='terms-conditions.html'
                        target='_blank'
                        class='text-size-regular is-footer-link'>
                        Terms of Service
                      </a>
                      <a
                        data-figma-id='8805:19256'
                        href='shopping-policy.html'
                        target='_blank'
                        class='text-size-regular is-footer-link'>
                        Shopping Policy
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <a
                data-figma-id='8805:19258'
                href='index.html'
                aria-current='page'
                class='footer_logo-wrapper w-inline-block w--current'>
                <img
                  src="{{ 'footer_logo.svg' | asset_url }}"
                  loading='lazy'
                  alt=''
                  class='footer_logo'>
              </a>
              <div data-figma-id='8805:19270' class='footer_bottom-wrapper'>
                <p data-figma-id='8805:19271' class='text-size-regular is-footer-social'>
                  Watch updates with 350K+ subscribers on our YouTube channel.
                </p>
                <div class='footer_bottom-divider'></div>
                <div data-figma-id='8805:19273' class='footer_social-list'>
                  <a
                    href='https://www.youtube.com/@PaytonClarkSmith'
                    target='_blank'
                    class='footer_social-link-wrapper w-inline-block'>
                    <img
                      class='footer_social-link'
                      src="{{ 'youtube.svg' | asset_url }}"
                      data-figma-image-id='67cba6d4fb0db561d5438876'
                      alt=''
                      data-figma-id='8805:19285'
                      data-figma-image-hash='9c34b2d4df8bc866da65d0fdf9d5b81e'
                      loading='lazy'>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <img
            src="{{ 'corner_bottom-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-left'>
          <img
            src="{{ 'corner_top-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-left'>
          <img
            src="{{ 'corner_top-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-right'>
          <img
            src="{{ 'corner_bottom-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-right'>
        </div>
        <div data-figma-id='8805:19289' class='footer_credit-wrapper'>
          <p data-figma-id='8805:19290' class='text-size-small'>© 2025,Musashi Challenge. All rights reserved.</p>
          <p data-figma-id='8805:19291' class='text-size-small'>
            Built by
            <a
              href='https://www.trifdigital.com/'
              target='_blank'
              class='footer_credit-link'>TrifDigital.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>