<section class='section_value-stack'>
  <div class='padding-global'>
    <div class='container-large'>
      <div class='value-stack_content'>
        <div data-figma-id='8814:23462' class='value-stack_item is-first'>
          <p class='text-size-regular text-align-center'>
            Trusted by a
            <strong>350.000+</strong>
            community
          </p>
          <img
            src="{{ 'corner_top-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-left'>
          <img
            src="{{ 'corner_bottom-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-left hide-on-mobile'>
          <img
            src="{{ 'corner_top-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-right is-mobile'>
        </div>
        <div data-figma-id='8814:23462' class='value-stack_item is-main'>
          <div class='value-stack_main-text-wrapper'>
            <p class='text-size-regular text-align-center'>
              <strong>One plan</strong>
              you can
              <strong>start today</strong>
            </p>
            <img
              src="{{ 'left-wing.webp' | asset_url }}"
              loading='lazy'
              alt="{{ section.settings.left_wing_alt | escape }}"
              class='wing left-wing'>
            <img
              src="{{ 'right-wing.webp' | asset_url }}"
              loading='lazy'
              alt="{{ section.settings.right_wing_alt | escape }}"
              class='wing right-wing'>
          </div>
        </div>
        <div data-figma-id='8814:23462' class='value-stack_item is-last'>
          <p class='text-size-regular text-align-center'>
            <strong>Ideas</strong>
            that reached
            <strong>over 40M+</strong>
          </p>
          <img
            src="{{ 'corner_bottom-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-right'>
          <img
            src="{{ 'corner_top-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-right hide-on-mobile'>
          <img
            src="{{ 'corner_bottom-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-left is-mobile'>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Value Stack Section",
  "settings": [
    {
      "type": "text",
      "id": "left_wing_alt",
      "label": "Alt Text: left-wing",
      "default": "Left positioned stylized golden laurel branch with evenly spaced leaves, angled upward."
    },
    {
      "type": "text",
      "id": "right_wing_alt",
      "label": "Alt Text: right-wing",
      "default": "Right positioned stylized golden laurel branch with evenly spaced leaves, angled upward."
    },

  ],
  "presets": [
    {
      "name": "Value Stack Section"
    }
  ]
}
{% endschema %}
