<section class='section_testimonials'>
  <div class='padding-global'>
    <div class='container-large is-line'>
      <div class='mid-line'></div>
      <div class='content-wrapper is-product-summary'>
        <div class='spacer-xhuge'></div>
        <div class='testimonials_header'>
          <div class='max-width-large'>
            <h2 class='heading-style-h3 text-align-center'>
              <span>People worldwide are building unbreakable discipline</span>
            </h2>
          </div>
          <div data-figma-id='8779:19264' class='testimonials_body'>
            <div class='max-width-small'>
              <p class='text-size-medium text-align-center'>
                Here’s what some of them have to say after trying the Musashi Challenge
              </p>
            </div>
          </div>
        </div>
        <div class='spacer-large'></div>
        <div class='testimonials_container'>
          <div class='testimonials_list is-top'>
            <div class='testimonials_inner-container'>
              <div class='testimonials_profile-wrapper'>
                <div class='testimonials_avatar-wrapper'>
                  <div class='testimonials_avatar-line is-top'></div>
                  <div class='testimonials_avatar'>
                    <div class='testimonials_avatar'>
                      <img
                        src="{{ 'david-langford-testimonial-avatar.webp' | asset_url }}"
                        loading='lazy'
                        alt="{{ section.settings.alt_david_langford_testimonial_avatar }}"
                        class='testimonials_avatar-image'>
                    </div>
                  </div>
                  <div class='testimonials_avatar-line is-bottom'></div>
                  <div class='testimonials_avatar-line is-left'></div>
                  <div class='testimonials_avatar-line is-rigth'></div>
                </div>
                <div class='testimonials_avatar-meta'>
                  <p class='text-size-regular text-weight-medium'>David Langford</p>
                  <div data-figma-id='8814:23482' class='testimonials_verification'>
                    <div data-figma-id='8814:23483' class='testimonials_verification-icon'>
                      <img
                        src={{ 'check-circle.svg' | asset_url }}
                        loading='lazy'
                        alt=''
                        class='stakes_icon-info'>
                    </div>
                    <p class='text-size-small'>Verified</p>
                  </div>
                </div>
              </div>
              <div class='line-horizontal'></div>
              <div class='testimonials_copy'>
                <div class='testimonials_rating-wrapper'>
                  <p class='text-size-regular text-weight-bold'>5.0</p>
                  <div class='testimonials_stars-wrapper'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                  </div>
                </div>
                <p class='text-size-regular'>
                  <span>
                    I’ve tried every productivity method you can name. This is
                    <strong>the first one that actually stuck with me.</strong>
                  </span>
                </p>
              </div>
            </div>
            <div class='testimonials_inner-container'>
              <div class='testimonials_profile-wrapper'>
                <div class='testimonials_avatar-wrapper'>
                  <div class='testimonials_avatar-line is-top'></div>
                  <div class='testimonials_avatar'>
                    <div class='testimonials_avatar'>
                      <img
                        src="{{ 'ryan-carter-testimonial-avatar.webp' | asset_url }}"
                        loading='lazy'
                        alt="{{ section.settings.alt_ryan_carter_testimonial_avatar }}"
                        class='testimonials_avatar-image'>
                    </div>
                  </div>
                  <div class='testimonials_avatar-line is-bottom'></div>
                  <div class='testimonials_avatar-line is-left'></div>
                  <div class='testimonials_avatar-line is-rigth'></div>
                </div>
                <div class='testimonials_avatar-meta'>
                  <p class='text-size-regular text-weight-medium'>Ryan Carter</p>
                  <div data-figma-id='8814:23482' class='testimonials_verification'>
                    <div data-figma-id='8814:23483' class='testimonials_verification-icon'>
                      <img
                        src={{ 'check-circle.svg' | asset_url }}
                        loading='lazy'
                        alt=''
                        class='stakes_icon-info'>
                    </div>
                    <p class='text-size-small'>Verified</p>
                  </div>
                </div>
              </div>
              <div class='line-horizontal'></div>
              <div class='testimonials_copy'>
                <div class='testimonials_rating-wrapper'>
                  <p class='text-size-regular text-weight-bold'>5.0</p>
                  <div class='testimonials_stars-wrapper'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                  </div>
                </div>
                <p class='text-size-regular'>
                  <span>
                    I didn’t always have the book with me, so the audio guide and Notion journal on my phone
 
 
 
 
 
 
 
 
 
 
 
                            really did it for me.
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class='testimonials_list is-top'>
            <div class='testimonials_inner-container'>
              <div class='testimonials_profile-wrapper'>
                <div class='testimonials_avatar-wrapper'>
                  <div class='testimonials_avatar-line is-top'></div>
                  <div class='testimonials_avatar'>
                    <img
                      src="{{ 'claudia-criss-testimonial-avatar.webp' | asset_url }}"
                      loading='lazy'
                      alt="{{ section.settings.alt_claudia_criss_testimonial_avatar }}"
                      class='testimonials_avatar-image'>
                  </div>
                  <div class='testimonials_avatar-line is-bottom'></div>
                  <div class='testimonials_avatar-line is-left'></div>
                  <div class='testimonials_avatar-line is-rigth'></div>
                </div>
                <div class='testimonials_avatar-meta'>
                  <p class='text-size-regular text-weight-medium'>Claudia Criss</p>
                  <div data-figma-id='8814:23482' class='testimonials_verification'>
                    <div data-figma-id='8814:23483' class='testimonials_verification-icon'>
                      <img
                        src={{ 'check-circle.svg' | asset_url }}
                        loading='lazy'
                        alt=''
                        class='stakes_icon-info'>
                    </div>
                    <p class='text-size-small'>Verified</p>
                  </div>
                </div>
              </div>
              <div class='line-horizontal'></div>
              <div class='testimonials_copy'>
                <div class='testimonials_rating-wrapper'>
                  <p class='text-size-regular text-weight-bold'>5.0</p>
                  <div class='testimonials_stars-wrapper'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                  </div>
                </div>
                <p class='text-size-regular'>
                  <span>
                    Honestly, I bought it mainly for the quick logs. I thought I didn’t have time for anything
 
 
 
 
 
 
 
 
 
 
 
                            else, but those few minutes ended up giving me
                    <strong>so much space to breathe.</strong>
                    I actually started looking forward to them every day.
                  </span>
                </p>
              </div>
            </div>
            <div class='testimonials_inner-container'>
              <div class='testimonials_profile-wrapper'>
                <div class='testimonials_avatar-wrapper'>
                  <div class='testimonials_avatar-line is-top'></div>
                  <div class='testimonials_avatar'>
                    <div class='testimonials_avatar'>
                      <img
                        src="{{ 'emma-ciurea-testimonial-avatar.webp' | asset_url }}"
                        loading='lazy'
                        alt="{{ section.settings.alt_emma_ciurea_testimonial_avatar }}"
                        class='testimonials_avatar-image'>
                    </div>
                  </div>
                  <div class='testimonials_avatar-line is-bottom'></div>
                  <div class='testimonials_avatar-line is-left'></div>
                  <div class='testimonials_avatar-line is-rigth'></div>
                </div>
                <div class='testimonials_avatar-meta'>
                  <p class='text-size-regular text-weight-medium'>Emma Ciurea</p>
                  <div data-figma-id='8814:23482' class='testimonials_verification'>
                    <div data-figma-id='8814:23483' class='testimonials_verification-icon'>
                      <img
                        src={{ 'check-circle.svg' | asset_url }}
                        loading='lazy'
                        alt=''
                        class='stakes_icon-info'>
                    </div>
                    <p class='text-size-small'>Verified</p>
                  </div>
                </div>
              </div>
              <div class='line-horizontal'></div>
              <div class='testimonials_copy'>
                <div class='testimonials_rating-wrapper'>
                  <p class='text-size-regular text-weight-bold'>5.0</p>
                  <div class='testimonials_stars-wrapper'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                  </div>
                </div>
                <p class='text-size-regular'>
                  <span>
                    The pack should come with an empty notebook 😆 because
                    <strong>I had to write down so many great quotes.</strong>
                    There’s a line in the book that says, “The cost of not changing isn’t dramatic, it’s
 
 
 
 
 
 
 
 
 
 
 
                            gradual.” It made me realize how easy it is to stay stuck without even noticing. That&#x27;s
                            just a line, but the depth of the lessons is something that I really loved about this book.
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class='testimonials_list is-top'>
            <div class='testimonials_inner-container'>
              <div class='testimonials_profile-wrapper'>
                <div class='testimonials_avatar-wrapper'>
                  <div class='testimonials_avatar-line is-top'></div>
                  <div class='testimonials_avatar'>
                    <div class='testimonials_avatar'>
                      <img
                        src="{{ 'diana-muresan-testimonial-avatar.webp' | asset_url }}"
                        loading='lazy'
                        alt="{{ section.settings.alt_diana_muresan_testimonial_avatar }}"
                        class='testimonials_avatar-image'>
                    </div>
                  </div>
                  <div class='testimonials_avatar-line is-bottom'></div>
                  <div class='testimonials_avatar-line is-left'></div>
                  <div class='testimonials_avatar-line is-rigth'></div>
                </div>
                <div class='testimonials_avatar-meta'>
                  <p class='text-size-regular text-weight-medium'>Diana Muresan</p>
                  <div data-figma-id='8814:23482' class='testimonials_verification'>
                    <div data-figma-id='8814:23483' class='testimonials_verification-icon'>
                      <img
                        src={{ 'check-circle.svg' | asset_url }}
                        loading='lazy'
                        alt=''
                        class='stakes_icon-info'>
                    </div>
                    <p class='text-size-small'>Verified</p>
                  </div>
                </div>
              </div>
              <div class='line-horizontal'></div>
              <div class='testimonials_copy'>
                <div class='testimonials_rating-wrapper'>
                  <p class='text-size-regular text-weight-bold'>5.0</p>
                  <div class='testimonials_stars-wrapper'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src={{ 'icon_star.svg' | asset_url }}
                      alt=''
                      class='icon_star'>
                  </div>
                </div>
                <p class='text-size-regular'>
                  <span>
                    It genuinely changed my evenings for the better. I used to lose hours scrolling before bed,
 
 
 
 
 
 
 
 
 
 
 
                            but after the first week (you’ll see what I mean when you get there), it felt so natural to
                            replace that time with something productive instead.
                    <strong>My mind feels sooooo much better</strong>, and somehow I sleep better too.
                  </span>
                </p>
              </div>
            </div>
            <div class='testimonials_inner-container'>
              <div class='testimonials_profile-wrapper'>
                <div class='testimonials_avatar-wrapper'>
                  <div class='testimonials_avatar-line is-top'></div>
                  <div class='testimonials_avatar'>
                    <div class='testimonials_avatar'>
                      <img
                        src="{{ 'nicholas-andronesi-testimonial-avatar.webp' | asset_url }}"
                        loading='lazy'
                        alt="{{ section.settings.alt_nicholas_andronesi_testimonial_avatar }}"
                        class='testimonials_avatar-image'>
                    </div>
                  </div>
                  <div class='testimonials_avatar-line is-bottom'></div>
                  <div class='testimonials_avatar-line is-left'></div>
                  <div class='testimonials_avatar-line is-rigth'></div>
                </div>
                <div class='testimonials_avatar-meta'>
                  <p class='text-size-regular text-weight-medium'>Nicholas Andronessi</p>
                  <div data-figma-id='8814:23482' class='testimonials_verification'>
                    <div data-figma-id='8814:23483' class='testimonials_verification-icon'>
                      <img
                        src="{{ 'check-circle.svg' | asset_url }}"
                        loading='lazy'
                        alt=''
                        class='stakes_icon-info'>
                    </div>
                    <p class='text-size-small'>Verified</p>
                  </div>
                </div>
              </div>
              <div class='line-horizontal'></div>
              <div class='testimonials_copy'>
                <div class='testimonials_rating-wrapper'>
                  <p class='text-size-regular text-weight-bold'>5.0</p>
                  <div class='testimonials_stars-wrapper'>
                    <img
                      loading='lazy'
                      src="{{ 'icon_star.svg' | asset_url }}"
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src="{{ 'icon_star.svg' | asset_url }}"
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src="{{ 'icon_star.svg' | asset_url }}"
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src="{{ 'icon_star.svg' | asset_url }}"
                      alt=''
                      class='icon_star'>
                    <img
                      loading='lazy'
                      src="{{ 'icon_star.svg' | asset_url }}"
                      alt=''
                      class='icon_star'>
                  </div>
                </div>
                <p class='text-size-regular'>
                  <span>If you keep starting over and over again, this is for you.</span>
                </p>
              </div>
            </div>
          </div>
          <img
            src="{{ 'corner_top-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-left'>
          <img
            src="{{ 'corner_bottom-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-left'>
          <img
            src="{{ 'corner_top-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-right'>
          <img
            src="{{ 'corner_bottom-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-right'>
        </div>
        <div class='spacer-medium'></div>
        <div class='button-group'>
          <div class='button-wrapper'>
            <a href='#section-pricing' class='button is-default w-inline-block'>
              <div class='button_line is-top'></div>
              <div class='button_content'>
                <div class='text-size-regular is-primary'>Get Pack</div>
              </div>
              <div class='button_line is-bottom'></div>
            </a>
          </div>
        </div>
        <div class='spacer-xhuge'></div>
      </div>
      <div class='mid-line'></div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section: Testimonials",
    "settings": [
      {
        "type": "text",
        "id": "alt_david_langford_testimonial_avatar",
        "label": "Alt Text: david-langford-testimonial-avatar",
        "default": "Portrait of a man who wrote a testimonial. He has short hair wearing a light striped shirt and black strap, with a body of water and buildings in the background."
      },
      {
        "type": "text",
        "id": "alt_ryan_carter_testimonial_avatar",
        "label": "Alt Text: ryan-carter-testimonial-avatar",
        "default": "The man who shared a testimonial, smiling outdoors with glasses and medium-length brown hair."
      },
      {
        "type": "text",
        "id": "alt_claudia_criss_testimonial_avatar",
        "label": "Alt Text: claudia-criss-testimonial-avatar",
        "default": "The woman who shared a testimonial, smiling indoors with curly hair and glasses, holding a pink book."
      },
      {
        "type": "text",
        "id": "alt_emma_ciurea_testimonial_avatar",
        "label": "Alt Text: emma-ciurea-testimonial-avatar",
        "default": "Woman who wrote a testimonial, wearing glasses and a lace top, sitting indoors near window curtains with her chin resting on her hand."
      }, {
        "type": "text",
        "id": "alt_diana_muresan_testimonial_avatar",
        "label": "Alt Text: diana-muresan-testimonial-avatar",
        "default": "Close-up of a woman who wrote a testimonial. She has long brown hair and subtle makeup, smiling slightly against a wooden background."
      }, {
        "type": "text",
        "id": "alt_nicholas_andronesi_testimonial_avatar",
        "label": "Alt Text: nicholas-andronesi-testimonial-avatar",
        "default": "Portrait of a man who wrote a testimonial. He has styled dark hair and a trimmed beard standing outdoors with brown foliage in the background."
      }, {
        "type": "text",
        "id": "alt_check_circle",
        "label": "Alt Text: check-circle",
        "default": "The man who shared a testimonial, smiling outdoors with glasses and medium-length brown hair."
      },
    ],
    "presets": [
      {
        "name": "Section: Testimonials"
      }
    ]
  }
{% endschema %}