<section id='section-summary' class='section_product-summary'>
  <div class='padding-global'>
    <div class='container-large is-line'>
      <div class='mid-line'></div>
      <div class='content-wrapper is-product-summary'>
        <div class='spacer-xhuge'></div>
        <div class='stakes_header'>
          <div class='max-width-medium'>
            <h2 class='heading-style-h3 text-align-center'>
              <span>What you get to make discipline effortless</span>
            </h2>
          </div>
          <div data-figma-id='8779:19264' class='stakes_body'>
            <div class='max-width-small'>
              <p class='text-size-medium text-align-center'>
                You don’t need more motivation. You need a plan that make discipline automatic
              </p>
            </div>
          </div>
        </div>
        <div class='spacer-large'></div>
        <div class='product-summary_container'>
          <div class='summary_bottom-list is-top'>
            <div data-figma-id='8814:23462' class='summary_inner-container is-top'>
              <div class='summary_top-content is-top'>
                <div class='smmary_tag'>
                  <div class='summary_tag-line is-top'></div>
                  <div class='summary_tag-content'>
                    <div class='text-size-small text-weight-medium'>The Musashi Challenge</div>
                  </div>
                  <div class='summary_tag-line is-bottom'></div>
                </div>
                <div class='summary_copy'>
                  <h3 data-figma-id='8814:23464' class='text-size-xlarge is-summary'>eBook</h3>
                  <p class='text-size-regular'>
                    <span>
                      Get instant access to
                      <strong>130+ pages of practical lessons</strong>
                      built to help you know what to do, when to do it, and how to become disciplined.
                    </span>
                  </p>
                </div>
              </div>
              <div class='summary_image-wrapper is-top'>
                <img
                  src="{{ 'ebook.webp' | asset_url }}"
                  loading='lazy'
                  sizes='(max-width: 882px) 100vw, 882px'
                  srcset="{{ 'ebook-p-500.webp' | asset_url }} 500w, {{ 'ebook-p-800.webp' | asset_url }} 800w, {{ 'ebook.webp' | asset_url }} 882w"
                  alt="{{ section.settings.alt_ebook }}"
                  class='summary_image'>
              </div>
            </div>
            <div data-figma-id='8814:23462' class='summary_inner-container is-top'>
              <div class='summary_top-content is-top'>
                <div class='smmary_tag'>
                  <div class='summary_tag-line is-top'></div>
                  <div class='summary_tag-content'>
                    <div class='text-size-small text-weight-medium'>The Musashi Challenge</div>
                  </div>
                  <div class='summary_tag-line is-bottom'></div>
                </div>
                <div class='summary_copy'>
                  <h3 data-figma-id='8814:23464' class='text-size-xlarge is-summary'>Printed Book</h3>
                  <p class='text-size-regular'>
                    <span>
                      Same 130+ pages of discipline lessons &amp; exercises, but
                      <strong>crafted to be felt, held and experienced</strong>
                      away from the screens.
                    </span>
                  </p>
                </div>
              </div>
              <div class='summary_image-wrapper is-top'>
                <img
                  src="{{ 'printed-book.webp' | asset_url }}"
                  loading='lazy'
                  sizes='(max-width: 903px) 100vw, 903px'
                  srcset="{{ 'printed-book-p-500.webp' | asset_url }} 500w, {{ 'printed-book-p-800.webp' | asset_url }} 800w, {{ 'printed-book.webp' | asset_url }} 903w"
                  alt="{{ section.settings.alt_printed_book }}"
                  class='summary_image'>
              </div>
            </div>
          </div>
          <div class='summary_bottom-list is-bottom'>
            <div data-figma-id='8814:23462' class='summary_inner-container'>
              <div class='summary_top-content'>
                <div class='smmary_tag'>
                  <div class='summary_tag-line is-top'></div>
                  <div class='summary_tag-content'>
                    <div class='text-size-small text-weight-medium'>The Musashi Challenge</div>
                  </div>
                  <div class='summary_tag-line is-bottom'></div>
                </div>
                <div class='summary_copy'>
                  <h3 data-figma-id='8814:23464' class='text-size-xlarge is-summary'>Notion Pocket Journal</h3>
                  <p class='text-size-regular'>
                    <span>
                      <strong>No setup needed.</strong>
                      A ready-to-use hub synced with every book chapter so you can easily log and track your
 
 
                              progress.
                    </span>
                  </p>
                </div>
              </div>
              <div class='summary_image-wrapper'>
                <img
                  src="{{ 'notion-pocket-journal.webp' | asset_url }}"
                  loading='lazy'
                  sizes='100vw'
                  srcset="{{ 'notion-pocket-journal-p-500.webp' | asset_url }} 500w, {{ 'notion-pocket-journal-p-800.webp' | asset_url }} 800w, {{ 'notion-pocket-journal-p-1080.webp' | asset_url }} 1080w, {{ 'notion-pocket-journal.webp' | asset_url }} 1176w"
                  alt="{{ section.settings.alt_notion_pocket_journal }}"
                  class='summary_image is-visibility'>
                <img
                  src="{{ 'notion-pocket-journal-mobile.webp' | asset_url }}"
                  loading='lazy'
                  sizes='100vw'
                  srcset="{{ 'notion-pocket-journal-mobile-p-500.webp' | asset_url }} 500w, {{ 'notion-pocket-journal-mobile-p-800.webp' | asset_url }} 800w, {{ 'notion-pocket-journal-mobile-p-1080.webp' | asset_url }} 1080w, {{ 'notion-pocket-journal-mobile.webp' | asset_url }} 1176w"
                  alt="{{ section.settings.alt_notion_pocket_journal_mobile }}"
                  class='summary_image hide-desktop'>
              </div>
            </div>
            <div data-figma-id='8814:23462' class='summary_inner-container'>
              <div class='summary_top-content'>
                <div class='smmary_tag'>
                  <div class='summary_tag-line is-top'></div>
                  <div class='summary_tag-content'>
                    <div class='text-size-small text-weight-medium'>The Musashi Challenge</div>
                  </div>
                  <div class='summary_tag-line is-bottom'></div>
                </div>
                <div class='summary_copy'>
                  <h3 data-figma-id='8814:23464' class='text-size-xlarge is-summary'>Audio Guide</h3>
                  <p class='text-size-regular'>
                    <span>
                      <strong>Download once and listen offline</strong>
                      wherever you go. Take the Musashi mindset with you and keep yourself grounded.
                    </span>
                  </p>
                </div>
              </div>
              <div class='summary_image-wrapper'>
                <img
                  src="{{ 'audio-guide.webp' | asset_url }}"
                  loading='lazy'
                  sizes='100vw'
                  srcset="{{ 'audio-guide-p-500.webp' | asset_url }} 500w, {{ 'audio-guide-p-800.webp' | asset_url }} 800w, {{ 'audio-guide-p-1080.webp' | asset_url }} 1080w, {{ 'audio-guide.webp' | asset_url }} 1176w"
                  alt="{{ section.settings.alt_audio_guide }}"
                  class='summary_image'>
              </div>
            </div>
            <div data-figma-id='8814:23462' class='summary_inner-container'>
              <div class='summary_top-content'>
                <div class='smmary_tag'>
                  <div class='summary_tag-line is-top'></div>
                  <div class='summary_tag-content'>
                    <div class='text-size-small text-weight-medium'>The Musashi Challenge</div>
                  </div>
                  <div class='summary_tag-line is-bottom'></div>
                </div>
                <div class='summary_copy'>
                  <h3 data-figma-id='8814:23464' class='text-size-xlarge is-summary'>Musashi AI Coach</h3>
                  <p class='text-size-regular'>
                    <span>
                      <strong>Built to understand modern struggles</strong>
                      , this model is trained to feel like you’re being coached by Musashi himself.
                    </span>
                  </p>
                </div>
              </div>
              <div class='summary_image-wrapper'>
                <img
                  src="{{ 'musashi-ai-coach.webp' | asset_url }}"
                  loading='lazy'
                  sizes='100vw'
                  srcset="{{ 'musashi-ai-coach-p-500.webp' | asset_url }} 500w, {{ 'musashi-ai-coach-p-800.webp' | asset_url }} 800w, {{ 'musashi-ai-coach.webp' | asset_url }} 1176w"
                  alt="{{ section.settings.alt_musashi_ai_coach }}"
                  class='summary_image'>
              </div>
            </div>
          </div>
          <img
            src="{{ 'corner_top-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-left'>
          <img
            src="{{ 'corner_bottom-left.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-left'>
          <img
            src="{{ 'corner_top-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-top-right'>
          <img
            src="{{ 'corner_bottom-right.svg' | asset_url }}"
            loading='lazy'
            alt=''
            class='corner is-bottom-right'>
        </div>
        <div class='spacer-medium'></div>
        <div class='button-group'>
          <div class='button-wrapper'>
            <a href='#section-pricing' class='button is-default w-inline-block'>
              <div class='button_line is-top'></div>
              <div class='button_content'>
                <div class='text-size-regular is-primary'>Get Pack</div>
              </div>
              <div class='button_line is-bottom'></div>
            </a>
          </div>
        </div>
        <div class='spacer-xhuge'></div>
      </div>
      <div class='mid-line'></div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section: Product Summary",
    "settings": [
      {
        "type": "text",
        "id": "alt_ebook",
        "label": "Alt Text: ebook",
        "default": "Kindle displaying a page titled 'Day 1 - Monday' from 'Statue of Wisdom,' featuring a quote by Miyamoto Musashi and text about 'The Great Elimination' focused on clearing space and eliminating unnecessary items."
      },
      {
        "type": "text",
        "id": "alt_printed_book",
        "label": "Alt Text: printed-book",
        "default": "Black hardcover book titled 'The Musashi Challenge: 5 Weeks To Build Discipline That Doesn’t Break' by Shelby CRC."
      },
      {
        "type": "text",
        "id": "alt_notion_pocket_journal",
        "label": "Alt Text: notion-pocket-journal",
        "default": "Part of a digital calendar showing days of the week with check marks on Monday and Tuesday, and a popup note titled 'Day 1' noting '120 min of work' and 'Reflection Added.'"
      },
      {
        "type": "text",
        "id": "alt_notion_pocket_journal_mobile",
        "label": "Alt Text: notion-pocket-journal-mobile",
        "default": "Part of a digital calendar showing days of the week with check marks on Monday and Tuesday, and a popup note titled 'Day 1' noting '120 min of work' and 'Reflection Added.'"
      }, {
        "type": "text",
        "id": "alt_audio_guide",
        "label": "Alt Text: audio-guide",
        "default": "Black headphones resting behind an audio player interface showing a play button and sound wave, with text reading '54 Minutes of On Demand Lessons.'"
      }, {
        "type": "text",
        "id": "alt_musashi_ai_coach",
        "label": "Alt Text: musashi-ai-coach",
        "default": "Illustration of a chat interface with text boxes and a framed black-and-white portrait of a man with a beard and a bun."
      },
    ],
    "presets": [
      {
        "name": "Section: Product Summary"
      }
    ]
  }
{% endschema %}