<section id='section-faq' class='section_faq'>
  <div class='padding-global'>
    <div class='container-large is-line'>
      <div class='line-wrapper'>
        <div class='line-long'></div>
      </div>
      <div class='content-wrapper is-faq'>
        <div class='spacer-xhuge'></div>
        <div class='faq_header'>
          <div class='max-width-small'>
            <h2 class='heading-style-h3 text-align-center'>Have questions? We’ve got you covered.</h2>
          </div>
          <div data-figma-id='8779:19264' class='testimonials_body'>
            <div class='max-width-small'>
              <p class='text-size-medium text-align-center'>
                Here’s what most people ask before starting the challenge. If you don&#x27;t find your answer
 
 
 
 
 
                        here, feel free to reach out!
              </p>
            </div>
          </div>
        </div>
        <div class='spacer-xlarge'></div>
        <div class='faq_list'>
          <div data-figma-id='8716:32159' class='faq_wrapper'>
            <img
              src="{{ 'corner_top-left.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-top-left'>
            <img
              src="{{ 'corner_bottom-left.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-bottom-left'>
            <img
              src="{{ 'corner_bottom-right.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-bottom-right'>
            <img
              src="{{ 'corner_top-right.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-top-right'>
            <div data-figma-id='8833:25475' class='faq_accordion-wrapper'>
              <div data-figma-id='8833:25476' class='faq_accordion'>
                <div data-figma-id='8833:25478' class='faq_question'>
                  <p data-figma-id='8833:25480' class='text-size-large is-faq'>
                    Who is the Musashi challenge for?
                  </p>
                  <div data-figma-id='8833:25481' class='faq_icon-wrapper'>
                    <img
                      src="{{ 'plus-icon.svg' | asset_url }}"
                      loading='lazy'
                      alt="{{ section.settings.alt_plus_icon }}"
                      class='faq_plus-icon'>
                  </div>
                </div>
                <div data-figma-id='8833:25483' class='faq_answer'>
                  <div class='margin-bottom margin-small'>
                    <div class='faq_divider'></div>
                    <p data-figma-id='8833:25484' class='text-size-regular'>
                      Anyone who struggles with consistency, discipline, or finishing what they start. Creators,
 
 
 
 
 
                              athletes, students, entrepreneurs, or anyone who wants to sharpen their disciplined in 35
                              days.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8833:25475' class='faq_accordion-wrapper'>
              <div data-figma-id='8833:25476' class='faq_accordion'>
                <div data-figma-id='8833:25478' class='faq_question'>
                  <p data-figma-id='8833:25480' class='text-size-large is-faq'>
                    Do I need any experience or can beginners start too?
                  </p>
                  <div data-figma-id='8833:25481' class='faq_icon-wrapper'>
                    <img
                      src="{{ 'plus-icon.svg' | asset_url }}"
                      loading='lazy'
                      alt="{{ section.settings.alt_plus_icon }}"
                      class='faq_plus-icon'>
                  </div>
                </div>
                <div data-figma-id='8833:25483' class='faq_answer'>
                  <div class='margin-bottom margin-small'>
                    <div class='faq_divider'></div>
                    <p data-figma-id='8833:25484' class='text-size-regular'>
                      No experience needed. The journal and audio guide walk you through the challenge step by
 
 
 
 
 
                              step. If you can follow simple instructions and mark your progress daily you can complete
                              it.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8833:25475' class='faq_accordion-wrapper'>
              <div data-figma-id='8833:25476' class='faq_accordion'>
                <div data-figma-id='8833:25478' class='faq_question'>
                  <p data-figma-id='8833:25480' class='text-size-large is-faq'>
                    How much time does it take each day?
                  </p>
                  <div data-figma-id='8833:25481' class='faq_icon-wrapper'>
                    <img
                      src="{{ 'plus-icon.svg' | asset_url }}"
                      loading='lazy'
                      alt="{{ section.settings.alt_plus_icon }}"
                      class='faq_plus-icon'>
                  </div>
                </div>
                <div data-figma-id='8833:25483' class='faq_answer'>
                  <div class='margin-bottom margin-small'>
                    <div class='faq_divider'></div>
                    <p data-figma-id='8833:25484' class='text-size-regular'>
                      5-10 minutes. Open the journal, do the daily discipline, and log it in your tracker.
 
 
 
 
 
                              That&#x27;s it.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8833:25475' class='faq_accordion-wrapper'>
              <div data-figma-id='8833:25476' class='faq_accordion'>
                <div data-figma-id='8833:25478' class='faq_question'>
                  <p data-figma-id='8833:25480' class='text-size-large is-faq'>
                    Why not just use free content?
                  </p>
                  <div data-figma-id='8833:25481' class='faq_icon-wrapper'>
                    <img
                      src="{{ 'plus-icon.svg' | asset_url }}"
                      loading='lazy'
                      alt="{{ section.settings.alt_plus_icon }}"
                      class='faq_plus-icon'>
                  </div>
                </div>
                <div data-figma-id='8833:25483' class='faq_answer'>
                  <div class='margin-bottom margin-small'>
                    <div class='faq_divider'></div>
                    <p data-figma-id='8833:25484' class='text-size-regular'>
                      Because information isn’t the problem, implementation is. The Musashi Challenge gives you
 
 
 
 
 
                              a plan to follow, not just ideas to think about.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8833:25475' class='faq_accordion-wrapper'>
              <div data-figma-id='8833:25476' class='faq_accordion'>
                <div data-figma-id='8833:25478' class='faq_question'>
                  <p data-figma-id='8833:25480' class='text-size-large is-faq'>
                    How does the audio program work?
                  </p>
                  <div data-figma-id='8833:25481' class='faq_icon-wrapper'>
                    <img
                      src="{{ 'plus-icon.svg' | asset_url }}"
                      loading='lazy'
                      alt="{{ section.settings.alt_plus_icon }}"
                      class='faq_plus-icon'>
                  </div>
                </div>
                <div data-figma-id='8833:25483' class='faq_answer'>
                  <div class='margin-bottom margin-small'>
                    <div class='faq_divider'></div>
                    <p data-figma-id='8833:25484' class='text-size-regular'>
                      You’ll get a 54-minute Guided Audio Program, split into a quick-start orientation and
 
 
 
 
 
                              daily boosts. You can listen on your phone, computer, or tablet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8833:25475' class='faq_accordion-wrapper'>
              <div data-figma-id='8833:25476' class='faq_accordion'>
                <div data-figma-id='8833:25478' class='faq_question'>
                  <p data-figma-id='8833:25480' class='text-size-large is-faq'>
                    How does the Notion Pocket Journal work?
                  </p>
                  <div data-figma-id='8833:25481' class='faq_icon-wrapper'>
                    <img
                      src="{{ 'plus-icon.svg' | asset_url }}"
                      loading='lazy'
                      alt="{{ section.settings.alt_plus_icon }}"
                      class='faq_plus-icon'>
                  </div>
                </div>
                <div data-figma-id='8833:25483' class='faq_answer'>
                  <div class='margin-bottom margin-small'>
                    <div class='faq_divider'></div>
                    <p data-figma-id='8833:25484' class='text-size-regular'>
                      It’s your command center. You’ll log wins, track habits, and reflect daily. Everything is
 
 
 
 
 
                              synced to the Musashi Challenge so you can see real progress in one place.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8833:25475' class='faq_accordion-wrapper'>
              <div data-figma-id='8833:25476' class='faq_accordion'>
                <div data-figma-id='8833:25478' class='faq_question'>
                  <p data-figma-id='8833:25480' class='text-size-large is-faq'>
                    Will I receive lifetime updates?
                  </p>
                  <div data-figma-id='8833:25481' class='faq_icon-wrapper'>
                    <img
                      src="{{ 'plus-icon.svg' | asset_url }}"
                      loading='lazy'
                      alt="{{ section.settings.alt_plus_icon }}"
                      class='faq_plus-icon'>
                  </div>
                </div>
                <div data-figma-id='8833:25483' class='faq_answer'>
                  <div class='margin-bottom margin-small'>
                    <div class='faq_divider'></div>
                    <p data-figma-id='8833:25484' class='text-size-regular'>
                      Yes, absolutely! Lifetime updates are included for all digital assets (eBook, Notion
 
 
 
 
 
                              Journal, audio program). We’ll notify you by email so you can grab the newest version at
                              no cost.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='spacer-medium'></div>
        <div class='benefits_button-wrapper'>
          <a href='#section-pricing' class='button is-default w-inline-block'>
            <div class='button_line is-top'></div>
            <div class='button_content'>
              <div class='text-size-regular is-primary'>Get Pack</div>
            </div>
            <div class='button_line is-bottom'></div>
          </a>
        </div>
        <div class='spacer-xhuge'></div>
      </div>
      <div class='line-wrapper'>
        <div class='line-long'></div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section: FAQ",
    "settings": [

      {
        "type": "text",
        "id": "alt_plus_icon",
        "label": "Alt Text: plus-icon",
        "default": "Toggle FAQ answer"
      }
    ],
    "presets": [
      {
        "name": "Section: FAQ"
      }
    ]
  }
{% endschema %}