<section id='section-pricing' class='section_pricing'>
  <div class='padding-global'>
    <div class='container-large is-line'>
      <div class='mid-line'></div>
      <div class='content-wrapper is-no-bleed'>
        <div class='spacer-xhuge'></div>
        <div class='plan_header'>
          <div class='max-width-small'>
            <h2 class='heading-style-h3 text-align-center'>
              <span>Pick your path to unbreakable discipline</span>
            </h2>
          </div>
        </div>
        <div class='spacer-large'></div>
        <div class='pricing_content is-pricing'>
          <div
            data-figma-id='8716:32159'
            id='w-node-ead3f6c4-d47d-e5d8-5acf-91d2a9eb5ba4-8a18b800'
            class='pricing_plan-item'>
            <div data-figma-id='8716:32160' class='pricing_content-wrapper'>
              <div data-figma-id='8716:32161' class='pricing_assets-wrapper'>
                <div data-figma-id='8716:32162' class='pricing_info-wrapper'>
                  <h3 data-figma-id='8716:32163' class='heading-style-h6 is-pricing'>The Apprentice Pack</h3>
                  <div data-figma-id='8716:32164' class='pricing_cost-wrapper'>
                    <div data-figma-id='8716:32166' class='pricing_cost-top'>
                      <div data-figma-id='8716:32167' class='pricing_price'>
                        <p data-figma-id='8716:32168' class='heading-style-h5 is-pricing'>$38</p>
                      </div>
                    </div>
                    <p data-figma-id='8716:32173' class='text-size-small is-pricing'>SHIPS TO YOUR DOOR.</p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8716:32160' class='pricing_content-wrapper is-content'>
              <div class='pricing_content-top'>
                <div data-figma-id='8716:32161' class='pricing_assets-wrapper'>
                  <img
                    src="{{ 'pack-option-1.webp' | asset_url }}"
                    loading='lazy'
                    sizes='100vw'
                    srcset="{{ 'pack-option-1-p-500.webp' | asset_url }} 500w, {{ 'pack-option-1-p-800.webp' | asset_url }} 800w, {{ 'pack-option-1.webp' | asset_url }} 909w"
                    alt=''
                    class='pricing_asset'>
                </div>
                <div class='pricing_divider'></div>
                <div data-figma-id='8716:32183' class='pricing_feature-list'>
                  <div data-figma-id='8716:32185' class='pricing_feature'>
                    <img
                      class='icon_check'
                      src="{{ 'pricing-check-circle.svg' | asset_url }}"
                      data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                      alt=''
                      data-figma-id='8924:7649'
                      data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                      loading='lazy'>
                    <p data-figma-id='8716:32190' class='text-size-regular'>
                      Printed Book (
                      <strong>130+ pages</strong>
                      in physical form)
                    </p>
                  </div>
                </div>
              </div>
              <div data-figma-id='8716:32183' class='pricing_feature-list'></div>
              <div class='pricing_button-group'>
                <a href='#' class='button is-default is-pricing w-inline-block'>
                  <div class='button_line is-top'></div>
                  <div class='button_content'>
                    <div class='text-size-regular is-primary'>Get Pack</div>
                  </div>
                  <div class='button_line is-bottom'></div>
                </a>
                <a href='#section-lead-gen' class='button is-secondary is-stretching w-inline-block'>
                  <div class='text-size-regular is-secondary'>Free Sample (38 pages)</div>
                </a>
              </div>
            </div>
            <img
              src="{{ 'corner_top-left.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-top-left'>
            <img
              src="{{ 'corner_bottom-left.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-bottom-left'>
            <img
              src="{{ 'corner_bottom-right.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-bottom-right'>
            <img
              src="{{ 'corner_top-right.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-top-right'>
          </div>
          <div
            data-figma-id='8716:32159'
            id='w-node-_59fe5dc3-94be-4819-3830-ea130efd9605-8a18b800'
            class='pricing_plan-item is-main-option'>
            <div data-figma-id='8716:32160' class='pricing_content-wrapper'>
              <div data-figma-id='8716:32161' class='pricing_assets-wrapper'>
                <div data-figma-id='8716:32162' class='pricing_info-wrapper'>
                  <h3 data-figma-id='8716:32163' class='heading-style-h6 is-pricing'>The Practitioner Pack</h3>
                  <div data-figma-id='8716:32164' class='pricing_cost-wrapper'>
                    <div data-figma-id='8716:32166' class='pricing_cost-top'>
                      <div data-figma-id='8716:32167' class='pricing_price'>
                        <p data-figma-id='8716:32168' class='heading-style-h5 is-pricing'>$39</p>
                      </div>
                      <div class='pricing_discount-wrapper'>
                        <div class='pricing_discount'>
                          <p data-figma-id='8716:32168' class='text-size-xlarge is-pricing-discoun'>$52</p>
                          <div class='pricing-strikethrough'></div>
                        </div>
                        <div class='pricing_badge is-main-option'>
                          <p class='text-size-regular text-weight-medium'>25% OFF</p>
                        </div>
                      </div>
                    </div>
                    <p data-figma-id='8716:32173' class='text-size-small is-pricing'>
                      INSTANT ACCESS TO DIGITAL RESOURCES.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8716:32160' class='pricing_content-wrapper is-content'>
              <div class='pricing_content-top'>
                <div data-figma-id='8716:32161' class='pricing_assets-wrapper'>
                  <img
                    src="{{ 'pack-option-2.webp' | asset_url }}"
                    loading='lazy'
                    sizes='100vw'
                    srcset="{{ 'pack-option-2-p-500.webp' | asset_url }} 500w, {{ 'pack-option-2-p-800.webp' | asset_url }} 800w, {{ 'pack-option-2.webp' | asset_url }} 934w"
                    alt=''
                    class='pricing_asset'>
                </div>
                <div class='pricing_divider'></div>
                <div data-figma-id='8716:32183' class='pricing_feature-list'>
                  <div data-figma-id='8716:32185' class='pricing_feature'>
                    <img
                      class='icon_check'
                      src='images/pricing-check-circle.svg'
                      data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                      alt=''
                      data-figma-id='8924:7649'
                      data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                      loading='lazy'>
                    <p data-figma-id='8716:32190' class='text-size-regular'>
                      Printed Book (
                      <strong>130+ pages</strong>
                      in physical form)
                    </p>
                  </div>
                  <div data-figma-id='8716:32185' class='pricing_feature'>
                    <img
                      class='icon_check'
                      src='images/pricing-check-circle.svg'
                      data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                      alt=''
                      data-figma-id='8924:7649'
                      data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                      loading='lazy'>
                    <p data-figma-id='8716:32190' class='text-size-regular'>
                      Digital eBook (
                      <strong>130+ pages</strong>
                      in PDF format)
                    </p>
                  </div>
                </div>
              </div>
              <div class='pricing_button-group'>
                <a href='#' class='button is-default is-pricing w-inline-block'>
                  <div class='button_line is-top'></div>
                  <div class='button_content'>
                    <div class='text-size-regular is-primary'>Get Pack</div>
                  </div>
                  <div class='button_line is-bottom'></div>
                </a>
                <a href='#section-lead-gen' class='button is-secondary is-stretching w-inline-block'>
                  <div class='text-size-regular is-secondary'>Free Sample (38 pages)</div>
                </a>
              </div>
            </div>
            <img
              src='images/corner_top-left.svg'
              loading='lazy'
              alt=''
              class='corner is-top-left'>
            <img
              src='images/corner_bottom-left.svg'
              loading='lazy'
              alt=''
              class='corner is-bottom-left'>
            <img
              src='images/corner_bottom-right.svg'
              loading='lazy'
              alt=''
              class='corner is-bottom-right'>
            <img
              src='images/corner_top-right.svg'
              loading='lazy'
              alt=''
              class='corner is-top-right'>
            <div class='pricing_tag'>
              <div class='pricing_tag-line is-top'></div>
              <div class='pricing_tag-content text-align-center'>
                <div class='text-size-medium is-pricing-tag'>Most Chosen</div>
              </div>
              <div class='pricing_tag-line is-bottom'></div>
              <div class='pricing_tag-line is-left'></div>
              <div class='pricing_tag-line is-right'></div>
            </div>
          </div>
          <div data-figma-id='8716:32159' class='pricing_plan-item is-extended-top'>
            <div data-figma-id='8716:32160' class='pricing_content-wrapper'>
              <div data-figma-id='8716:32161' class='pricing_assets-wrapper'>
                <div data-figma-id='8716:32162' class='pricing_info-wrapper'>
                  <h3 data-figma-id='8716:32163' class='heading-style-h6 is-pricing'>The Samurai Pack</h3>
                  <div data-figma-id='8716:32164' class='pricing_cost-wrapper'>
                    <div data-figma-id='8716:32166' class='pricing_cost-top'>
                      <div data-figma-id='8716:32167' class='pricing_price'>
                        <p data-figma-id='8716:32168' class='heading-style-h5 is-pricing'>$78</p>
                      </div>
                      <div class='pricing_discount-wrapper'>
                        <div class='pricing_discount'>
                          <p data-figma-id='8716:32168' class='text-size-xlarge is-pricing-discoun'>$92</p>
                          <div class='pricing-strikethrough'></div>
                        </div>
                        <div class='pricing_badge'>
                          <p class='text-size-regular text-weight-medium'>15% OFF</p>
                        </div>
                      </div>
                    </div>
                    <p data-figma-id='8716:32173' class='text-size-small is-pricing'>
                      INSTANT ACCESS TO DIGITAL RESOURCES.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div data-figma-id='8716:32160' class='pricing_content-wrapper is-content'>
              <div class='pricing_content-top'>
                <div data-figma-id='8716:32161' class='pricing_assets-wrapper'>
                  <img
                    src="{{ 'pack-option-3.webp' | asset_url }}"
                    loading='lazy'
                    sizes='100vw'
                    srcset="{{ 'pack-option-3-p-500.webp' | asset_url }} 500w, {{ 'pack-option-3-p-800.webp' | asset_url }} 800w, {{ 'pack-option-3.webp' | asset_url }} 934w"
                    alt=''
                    class='pricing_asset'>
                </div>
                <div class='pricing_divider'></div>
                <div data-figma-id='8716:32183' class='pricing_feature-list'>
                  <div data-figma-id='8716:32185' class='pricing_feature'>
                    <img
                      class='icon_check'
                      src="{{ 'pricing-check-circle.svg' | asset_url }}"
                      data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                      alt=''
                      data-figma-id='8924:7649'
                      data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                      loading='lazy'>
                    <p data-figma-id='8716:32190' class='text-size-regular'>
                      Printed Book (
                      <strong>130+ pages</strong>
                      in physical form)
                    </p>
                  </div>
                  <div data-figma-id='8716:32185' class='pricing_feature'>
                    <img
                      class='icon_check'
                      src='images/pricing-check-circle.svg'
                      data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                      alt=''
                      data-figma-id='8924:7649'
                      data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                      loading='lazy'>
                    <p data-figma-id='8716:32190' class='text-size-regular'>
                      Digital eBook (
                      <strong>130+ pages</strong>
                      in PDF format)
                    </p>
                  </div>
                  <div data-figma-id='8716:32185' class='pricing_feature'>
                    <img
                      class='icon_check'
                      src='images/pricing-check-circle.svg'
                      data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                      alt=''
                      data-figma-id='8924:7649'
                      data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                      loading='lazy'>
                    <p data-figma-id='8716:32190' class='text-size-regular'>
                      Notion Pocket Journal with
                      <strong>lifetime updates</strong>
                    </p>
                  </div>
                  <div data-figma-id='8716:32185' class='pricing_feature'>
                    <img
                      class='icon_check'
                      src='images/pricing-check-circle.svg'
                      data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                      alt=''
                      data-figma-id='8924:7649'
                      data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                      loading='lazy'>
                    <p data-figma-id='8716:32190' class='text-size-regular'>
                      <strong>54 min</strong>
                      of Musashi Challenge Audio Guide
                    </p>
                  </div>
                  <div data-figma-id='8716:32185' class='pricing_feature'>
                    <img
                      class='icon_check'
                      src='images/pricing-check-circle.svg'
                      data-figma-image-id='67c9c1a7c28acae30c9fd52f'
                      alt=''
                      data-figma-id='8924:7649'
                      data-figma-image-hash='b8ef57f3e6b74588c85bc307fbf9d39e'
                      loading='lazy'>
                    <p data-figma-id='8716:32190' class='text-size-regular'>
                      Access to
                      <strong>Musashi AI Coach</strong>
                      (only included if you buy before 2025)
                    </p>
                  </div>
                </div>
              </div>
              <div class='pricing_button-group'>
                <a href='#' class='button is-default is-pricing w-inline-block'>
                  <div class='button_line is-top'></div>
                  <div class='button_content'>
                    <div class='text-size-regular is-primary'>Get Pack</div>
                  </div>
                  <div class='button_line is-bottom'></div>
                </a>
                <a href='#section-lead-gen' class='button is-secondary is-stretching w-inline-block'>
                  <div class='text-size-regular is-secondary'>Free Sample (38 pages)</div>
                </a>
              </div>
            </div>
            <img
              src="{{ 'corner_top-left.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-top-left'>
            <img
              src="{{ 'corner_top-right.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-top-right'>
          </div>
          <div
            data-figma-id='8716:32159'
            id='w-node-_800511cb-9627-3b45-c46c-ee989d2a6188-8a18b800'
            class='pricing_plan-item is-extended-bottom'>
            <div data-figma-id='8716:32160' class='pricing_content-wrapper'>
              <div data-figma-id='8716:32228' class='pricing_offer-content'>
                <div data-figma-id='8716:32229' class='pricing_offer-top'>
                  <div data-figma-id='8814:23482' class='pricing_offer'>
                    <div data-figma-id='8814:23483' class='pricing_offer-icon'>
                      <img
                        src="{{ 'check-circle.svg' | asset_url }}"
                        loading='lazy'
                        alt=''
                        class='stakes_icon-info'>
                    </div>
                    <p data-figma-id='8716:32230' class='text-size-medium is-pricing'>Free Shipping</p>
                  </div>
                </div>
                <p data-figma-id='8716:32233' class='text-size-regular'>
                  Orders over $50 are eligible for free shipping.
                </p>
              </div>
            </div>
            <img
              src="{{ 'corner_bottom-left.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-bottom-left'>
            <img
              src="{{ 'corner_bottom-right.svg' | asset_url }}"
              loading='lazy'
              alt=''
              class='corner is-bottom-right'>
          </div>
        </div>
        <div class='spacer-xlarge'></div>
        <div class='pricing_social-proof'>
          <div class='pricing_payment-logos'>
            <img
              src='images/visa.svg'
              loading='lazy'
              alt=''
              class='pricing_payment-logo'>
            <img
              src='images/mastercard.svg'
              loading='lazy'
              alt=''
              class='pricing_payment-logo'>
            <img
              src='images/maestro.svg'
              loading='lazy'
              alt=''
              class='pricing_payment-logo'>
            <img
              src='images/google-pay.svg'
              loading='lazy'
              alt=''
              class='pricing_payment-logo'>
            <img
              src='images/apple-pay.svg'
              loading='lazy'
              alt=''
              class='pricing_payment-logo'>
            <img
              src='images/paypal.svg'
              loading='lazy'
              alt=''
              class='pricing_payment-logo'>
            <img
              src='images/apple-pay.svg'
              loading='lazy'
              alt=''
              class='pricing_payment-logo'>
            <img
              src='images/shop-pay.svg'
              loading='lazy'
              alt=''
              class='pricing_payment-logo'>
          </div>
          <div class='pricing_social-proof-body'>
            <img
              src='images/lock-icon.svg'
              loading='lazy'
              alt=''
              class='pricing_social-proof-icon'>
            <p class='text-size-regular'>
              Secure transactions with
              <strong>Shopify Payments</strong>
            </p>
          </div>
        </div>
        <div class='spacer-xhuge'></div>
      </div>
      <div class='mid-line'></div>
    </div>
  </div>
</section>